body {
    margin: 0;
    padding: 0;
}

.inner {
    width: 95%;
    margin: auto;
}

.menu {
    background-color: red;
    width: 100%;
    height: 66px;
    line-height: 66px;
}

.m-left {
    float: left;
}

.Acceuil {
    margin: 0;
    padding: 0;
}

.m-right {
    float: right;
}